ul{
    list-style: none;
    padding-left: 0;
}

/* .clearfix::after {
    content: "";
    display: block;
    clear: both;
 } */

.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
    position: relative;
}

.header ul{
    display: flex;
    position: absolute;
    left: 215px;
    width: 160px;
    height: 60px;
    background-color: #FFF;
    align-items: center;
    justify-content: space-evenly;
}

.header ul li{
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    box-sizing: content-box;
    /* border: 10px solid #FFF; */
}

.main{
    display: flex;
}

.left {
    width: 150px;
    height: 250px;
    background-color: #80dfa8;
    /* float: left; */
}

.right{
    width: 250px;
    height: 250px;
    background-color: #8c2727;
    /* float: left; */
}

.right ul li{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    box-sizing: content-box;
    border: 5px solid #FFF;
    margin-bottom: 12px;
}

.right ul{
    margin: 40px 60px 40px 40px;
}


.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}

@media screen and (max-width: 767px) {
    .header {
        width: 200px;
        height: 200px;
    }

    .header ul {
        display: flex;
        left: 70px;
        height: 160px;
        width: 60px;
        flex-direction: column;
    }

    .main{
        display: flex;
        flex-direction: column;
    }

    .left {
        width: 200px;
        height: 200px;
    }

    .right {
        width: 200px;
        height: 210px;
    }

    .right ul{
        margin: 20px 30px;
    }
    
    .right ul li{
        width: 130px;
    }
    
    .footer {
        width: 200px;
    }
    
}